* {
  font-family: "Frijole", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2020/12/12/21/52/sign-5826751_1280.jpg);
  background-size: cover;
}

.keys {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}
.key {
  color: rgb(246, 148, 217);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  border: 0.1rem solid rgb(245, 177, 245);
}
kbd {
  font-size: 40px;
  text-shadow: 5px 4px 8px black;
}
