* {
  font-family: "Cinzel", serif;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
}

div {
  color: rgb(244, 220, 43);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  margin: 210px 20px;
  gap: 25px;
}

h1 {
  margin-left: 395px;
  font-size: 100px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-shadow: 3px 4px 8px black;
}

p {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-shadow: 3px 4px 8px black;
}
